@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
:root {
  --selected: #D6DBF5;
  --after: #DBDEF0;
  --background: #F5F7FB;
  --check-btn: #4D5B9E;
  --correct: #94D7A2;
  --incorrect: #F8BCBC;
  --greyed-out: #29326459;
}

* {
  box-sizing: border-box;
  font-family: 'Karla';
  font-weight: 400;
}

body {
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: var(--background);
}

main .blobs svg {
  position: absolute;
  z-index: 10;
}

main .blobs svg:first-child {
  width: 40vw;
  height: 40vw;
  top: -20vw;
  right: -15vw;
}

main .blobs svg:last-child {
  width: 40vw;
  height: 40vw;
  bottom: -20vw;
  left: -15vw;
}

main .quiz-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 80%;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

main .quiz-wrapper .score-wrapper {
  flex-basis: 100%;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

main .quiz-wrapper .score-wrapper button {
  min-width: 15%;
  height: 3rem;
  border-radius: 50px;
  border: none;
  background-color: var(--check-btn);
  color: white;
  font-weight: 700;
  cursor: pointer;
  transition: background .3s ease-out;
}

main .quiz-wrapper .score-wrapper button:hover {
  background-color: #5163bd;
}

main .quiz-wrapper .question-container {
  flex-basis: 60%;
  display: flex;
  flex-wrap: wrap;
}

main .quiz-wrapper .question-container .question-answer {
  flex-basis: 100%;
  justify-content: center;
  position: relative;
  margin-top: 2rem;
}

main .quiz-wrapper .question-container .question-answer::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background-color: var(--after);
  bottom: -20%;
}

main .quiz-wrapper .question-container .question-answer .answers {
  display: flex;
  justify-content: flex-start;
}

main .quiz-wrapper .question-container .question-answer .answers button {
  min-width: 20%;
  min-height: 2rem;
  border: solid black 1px;
  border-radius: 50px;
  background-color: white;
  margin-right: 2rem;
  transition: border, background .3s ease-out;
  cursor: pointer;
}

main .quiz-wrapper .question-container .question-answer .answers button:hover {
  background-color: var(--selected);
  border-color: var(--selected);
}

main .quiz-wrapper .question-container .question-answer .answers .selected {
  transition: .7s background-color;
  background-color: var(--selected);
  border: none;
}

main .quiz-wrapper .question-container .question-answer .answers .correct {
  background-color: var(--correct);
  border: none;
}

main .quiz-wrapper .question-container .question-answer .answers .incorrect {
  background-color: var(--incorrect);
  border: none;
  color: var(--greyed-out);
}

main .quiz-wrapper .question-container .question-answer .answers .greyed-out {
  color: var(--greyed-out);
  border-color: var(--greyed-out);
}

main .quiz-wrapper .question-container .question-answer .answers .not-selected {
  background-color: rgba(248, 248, 97, 0.863);
  border: none;
}

main .first-start {
  flex-basis: 33%;
  height: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #293264;
}

main .first-start h1 {
  flex-basis: 50%;
  text-align: center;
  font-size: 6rem;
  margin: 0;
  font-weight: 700;
}

main .first-start p {
  flex-basis: 51%;
  font-size: 2rem;
  text-align: center;
}

main .first-start button {
  background-color: #4D5B9E;
  border-radius: 25px;
  border: none;
  width: 80%;
  min-height: 100px;
  color: #fff;
  font-size: 1.5rem;
}
/*# sourceMappingURL=main.css.map */